<modal class="modal" id="modal-ville">
    <modalcontent class="modal-content">
        <span class="close" id="close-modal-ville">&times;</span>
        <h3 class="text-center">Ajouter une ville</h3>
        <span id="span-messages-ville"></span>
        <span>Entrez un nom ou une portion de nom </span><input type="text" name="nouveauNom" id="nouveauNom">
        <select name="noms" id="noms"></select>
        <select name="nouveauCodePostal" id="nouveauCodePostal"></select>
        <button type="button" id="ajouterVille">Ajouter</button>
    </modalcontent>
</modal>